{% extends 'base.html' %}

{% block content %}
<div class="container mt-4">
    <h2 class="mb-4">Excluir Pré-Agendamento de Plástica</h2>
    <p>Tem certeza de que deseja excluir o pré-agendamento de <strong>{{ object.nome }}</strong>?</p>
    <form method="post">
        {% csrf_token %}
        <button type="submit" class="btn btn-danger">Confirmar Exclusão</button>
        <a href="{% url 'pre_agendamento_plastica_list' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}